body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; 
  color: #fff; 
}

header {
  background-color: #010408; 
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #020b13; 
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  border: 2px solid #000407; 
  margin-bottom: 20px;
  padding: 20px;
}

footer {
  background-color: #000102; 
  padding: 10px;
  text-align: center;
}
